.container {
    max-width: 1728px;
}

header {
    background-color: #0C4A6E;
    width: 1728px;
    height: 91px;
}
header h1 {
    font-size: 26px;
    color: #FFFFFF;
    padding-left: 99px;
    padding-top: 30px;
    font-family: Arial, sans-serif;
}
.grid{
    display: flex; /*uses flex to arrange team members in a row*/
    flex-wrap: wrap; /*splits the row into 2 collumns*/
    column-gap: 33px;
    row-gap: 52px;
}
.team {
    width: 1529px;
    margin-left: 99px;
    padding-top: 28px;
}
.team h2{
    font-family: Arial, sans-serif;
    font-size: 60px;
}
.team .sarah{
    display: flex; /*alligns ttext and image to be stackable and spaced properly*/
    background-color: #F4F4F5;
    width: 748px;
    padding: 28px;
}
.team .sarah img{
    padding-left: 28px;
}
.team .sarah h3{
    font-size: 48px;
    font-family: Arial, sans-serif;
    padding-left: 56px;
    padding-top: 28px;
}
.team .sarah p{
    font-size: 16px;
    font-family: Arial, sans-serif;
    max-width: 436px;
    padding-left: 56px;
}
.team .luis{
    display: flex;
    background-color: #F4F4F5;
    width: 748px;
    padding: 28px;
}
.team .luis img{
    padding-left: 28px;
}
.team .luis h3{
    font-size: 48px;
    font-family: Arial, sans-serif;
    padding-left: 56px;
    padding-top: 28px;
}
.team .luis p{
    font-size: 16px;
    font-family: Arial, sans-serif;
    max-width: 436px;
    padding-left: 56px;
}
.team .jonah{
    display: flex;
    background-color: #F4F4F5;
    width: 748px;
    padding: 28px;
}
.team .jonah img{
    padding-left: 28px;
}
.team .jonah h3{
    font-size: 48px;
    font-family: Arial, sans-serif;
    padding-left: 56px;
    padding-top: 28px;
}
.team .jonah p{
    font-size: 16px;
    font-family: Arial, sans-serif;
    max-width: 436px;
    padding-left: 56px;
}
.team .amira{
    display: flex;
    background-color: #F4F4F5;
    width: 748px;
    padding: 28px;
}
.team .amira img{
    padding-left: 28px;
}
.team .amira h3{
    font-size: 48px;
    font-family: Arial, sans-serif;
    padding-left: 56px;
    padding-top: 28px;
}
.team .amira p{
    font-size: 16px;
    font-family: Arial, sans-serif;
    max-width: 436px;
    padding-left: 56px;
}
.service {
    width: 1529px;
    margin-left: 99px;
    padding-top: 96px;
}
.service h2{
    font-family: Arial, sans-serif;
    font-size: 60px;
}
.service .plan-grid{
    display: flex; /*used to split service into a row*/
    column-gap: 33px;
}
.service .plan{
    width: 489px;
    background-color: #F4F4F5;
}
.service .plan h3{
    padding-top: 28px;
    padding-left: 150px;
    font-size: 48px;
    font-family: Arial, sans-serif;
}
.service .plan .features h4{
    padding-top: 28px;
    padding-left: 166px;
    font-size: 34px;
    font-family: Arial, sans-serif;
}
.service .plan .features ul{
    padding-left: 166px;
}
.service .plan .features li{
    font-size: 16px;
    font-family: Arial, sans-serif;
    list-style: disc;
}
.service .plan p{
    font-size: 24px;
    color: #0C4A6E;
    font-family: Arial, sans-serif;
    padding-left: 120px;
}
footer {
    background-color: #0C4A6E;
    width: 1728px;
    height: 100px;
    margin-top: 96px;
}
footer p{
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding-top: 26px;
    padding-left: 99px;
}
footer cite{
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding-top: 26px;
    padding-left: 99px;
}